<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Inventory level:</strong>
  <%= @item.inventory_level %>
</p>

<p>
  <strong>Reorder level:</strong>
  <%= @item.reorder_level %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Is featured:</strong>
  <%= @item.is_featured %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
